<!DOCTYPE html>
<html>
    <head>
        <title>Traffic Lights</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="../javascript/bundle.js"></script>
    </head>
    <body>
        <div class="header-colors">
            <div class="header-bar">
                <div class="header-title">Traffic Lights</div>
                <select type="text" class="race-select">
                    <option value="none">Select Race</option>
                </select>
            </div>
        </div>
        <ul class="horse-list"></ul>
    <script>

    </script>
    </body>
</html>
